# ============================================
# Arduino IDE / CLI
# ============================================
build/
builds/
*.elf
*.hex
*.bin
*.eep
*.map
*.o
*.d

# ============================================
# PlatformIO
# ============================================
.pio/

# ============================================
# Cachés / entornos
# ============================================
node_modules/
__pycache__/
*.py[cod]

# ============================================
# OS / Misc
# ============================================
*.swp
*.swo
.DS_Store
Thumbs.db
*.log
